.entrance__signup_link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.entrance__signup_link:hover {
  cursor: pointer;
  opacity: 0.6;
}
