.element__delete {
  width: 18px;
  height: 19px;
  padding: 0;
  position: absolute;
  top: 21px;
  right: 21px;
  background-image: url(../../../images/buttons/Delete-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.element__delete:hover {
  opacity: 0.6;
}
